<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.rose.central.mapper.LectureMapper">
    <select id="getLectureList" resultType="io.rose.central.vo.LectureVO"
    > SELECT id AS id, title AS
        title, detail AS describe, thumenail_link AS thumbnailLink, video_link AS videoLink,
        total_time AS totalTime FROM lecture WHERE is_active = true; </select>
    <select id="getLectureRecommandList" resultType="io.rose.central.vo.LectureVO"
    > SELECT id AS id,
        title AS title, detail AS describe, thumenail_link AS thumbnailLink, video_link AS
        videoLink, total_time AS totalTime FROM lecture WHERE level = #{level} AND category =
        #{category}; </select>
    <select id="getLectureDetailList" resultType="io.rose.central.dao.LectureDetailDAO"> SELECT id
        AS lectureDetailId, lecture_seq AS lectureSeq, title AS title, stt_text AS text, show_title
        AS displayTitle, parent_lecture_id AS parentId FROM lecture_detail WHERE parent_lecture_id =
        #{parentId} ORDER BY lecture_seq; </select>
    <select id="getLectureDetail" resultType="io.rose.central.vo.LectureRequestVO"> SELECT id AS
        lectureCode, stt_text AS lectureText FROM lecture_detail WHERE id = #{lectureDetailId} </select>
</mapper>